[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/4s3ti"]
	path = themes/4s3ti
	url = https://github.com/4s3ti/hugo-theme-hello-4s3ti
